actions==1.0.3
altgraph==0.16.1
aniso8601==6.0.0
beautifulsoup4==4.7.1
bunch==1.0.1
certifi==2018.11.29
chardet==3.0.4
chromedriver-binary==2.46.0
Click==7.0
confapp==1.0.1
Flask==1.0.3
Flask-RESTful==0.3.7
future==0.17.1
guizero==0.6.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
keyboard==0.13.2
macholib==1.11
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==1.4.2.post1
Nuitka==0.6.3.1
numpy==1.16.0
opencv-python==4.0.0.21
pefile==2018.8.8
Pillow==6.0.0
py2exe==0.9.2.2
PyAutoGUI==0.9.42
PyGetWindow==0.0.4
PyInstaller==3.4
PyMsgBox==1.0.6
pynput==1.4.2
PyRect==0.1.4
PyScreeze==0.1.20
python-dateutil==2.8.0
PyTweening==1.0.3
pytz==2019.1
pywin32-ctypes==0.2.0
requests==2.21.0
selenium==3.141.0
six==1.12.0
soupsieve==1.7.3
UNKNOWN==0.0.0
urllib3==1.24.1
Werkzeug==0.15.4
