<!-- Icones https://materializecss.com/icons.html-->
<div ng-controller="Tabela">
    <div layout="row" flex="100">
        <div layout="column" flex="100">
            <!-- Cria a Toolbar-->
            <md-toolbar flex="50">
                <div class="md-toolbar-tools">
                    <h2 flex md-truncate>Contatos</h2>
                    <md-button class="md-fab md-mini md-hue-3" style="background-color:#1565C0" aria-label="Adicionar" ng-click="showAdvanced($event)">
                        <i class="material-icons" style="color: white;">person_add</i>
                    </md-button>
                </div>
            </md-toolbar>


            <!-- Monta e Carrega a lista de contatos-->
            <md-content flex="100" style="margin-top:55px">
                <div>
                    <md-list style="margin-top: -8px" flex>
                        <md-list-item ng-repeat="person in pessoas" style="align-items: center;" ng-click="goToPerson(person.name, $event)" flex>
                            <i class="material-icons" style="color:#2196F3 ;">phone</i>
                            <h3 style="margin-left:10px;">{{ person.nome }}</h3>
                            <p style="text-align: left; margin-top:45px;">{{ person.numero }} </p>
                            <md-button class="md-icon-button md-primary" aria-label="Excluir" ng-click="deletar(person.id)">
                                <i class="material-icons" style="color: #2196F3;">delete_forever</i>
                            </md-button>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </md-content>
        </div>
    </div>
</div>